Dsl/GeneratedCode/XCYLSProyectoIPSSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="XCYLSProyectoIPSSchema" targetNamespace="http://schemas.microsoft.com/dsltools/XCYLSProyectoIPS" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/XCYLSProyectoIPS" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- DeraWebIPS -->
  <xsd:element name="deraWebIPS" type="DeraWebIPS" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DeraWebIPS">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: DeraWebIPSHasEntidad -->
          <xsd:element name="entidad" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of DeraWebIPSHasEntidad</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="deraWebIPSHasEntidad" minOccurs="1" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of DeraWebIPSHasEntidad needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: DeraWebIPSHasRelacioned -->
          <xsd:element name="relacioned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of DeraWebIPSHasRelacioned</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="deraWebIPSHasRelacioned" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of DeraWebIPSHasRelacioned needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: DeraWebIPSReferencesEstiloPortalWeb -->
          <xsd:element name="estiloPortalWeb" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of DeraWebIPSReferencesEstiloPortalWeb</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="deraWebIPSReferencesEstiloPortalWeb" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of DeraWebIPSReferencesEstiloPortalWeb needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DeraWebIPS Moniker -->
  <xsd:element name="deraWebIPSMoniker" type="DeraWebIPSMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DeraWebIPSMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DeraWebIPS instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Entidad -->
  <xsd:element name="entidad" type="Entidad" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Entidad">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: EntidadReferencesRelacioned -->
          <xsd:element name="relacioned" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EntidadReferencesRelacioned</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="entidadReferencesRelacioned" minOccurs="1" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EntidadReferencesRelacioned needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: EntidadHasAtributoEntidad -->
          <xsd:element name="atributoEntidad" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EntidadHasAtributoEntidad</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="entidadHasAtributoEntidad" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EntidadHasAtributoEntidad needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: EntidadHasAtributoClaves -->
          <xsd:element name="atributoClaves" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EntidadHasAtributoClaves</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="entidadHasAtributoClaves" minOccurs="1" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EntidadHasAtributoClaves needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: EntidadReferencesEstiloPáginaWeb -->
          <xsd:element name="estiloPáginaWeb" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EntidadReferencesEstiloPáginaWeb</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="entidadReferencesEstiloPáginaWeb" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EntidadReferencesEstiloPáginaWeb needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Entidad Moniker -->
  <xsd:element name="entidadMoniker" type="EntidadMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntidadMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Entidad instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Relacion -->
  <xsd:element name="relacion" type="Relacion" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Relacion">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: RelacionHasAtributoRelacioned -->
          <xsd:element name="atributoRelacioned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of RelacionHasAtributoRelacioned</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="relacionHasAtributoRelacioned" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of RelacionHasAtributoRelacioned needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: RelacionReferencesEntidad1 -->
          <xsd:element name="entidad1" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of RelacionReferencesEntidad1</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="relacionReferencesEntidad1" minOccurs="1" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of RelacionReferencesEntidad1 needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: RelacionReferencesEstiloPáginaWeb -->
          <xsd:element name="estiloPáginaWeb" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of RelacionReferencesEstiloPáginaWeb</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="relacionReferencesEstiloPáginaWeb" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of RelacionReferencesEstiloPáginaWeb needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Relacion Moniker -->
  <xsd:element name="relacionMoniker" type="RelacionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RelacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Relacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoEntidad -->
  <xsd:element name="atributoEntidad" type="AtributoEntidad" substitutionGroup="atributo" />
  <xsd:complexType name="AtributoEntidad">
    <xsd:complexContent>
      <xsd:extension base="Atributo">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Null -->
        <xsd:attribute name="null" type="tipoNull" />
        <!-- Property: Único -->
        <xsd:attribute name="único" type="tipoÚnico" />
        <!-- Property: Longitud -->
        <xsd:attribute name="longitud" type="xsd:integer" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoEntidad Moniker -->
  <xsd:element name="atributoEntidadMoniker" type="AtributoEntidadMoniker" substitutionGroup="atributoMoniker" />
  <xsd:complexType name="AtributoEntidadMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoEntidad instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AtributoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoRelacion -->
  <xsd:element name="atributoRelacion" type="AtributoRelacion" substitutionGroup="atributo" />
  <xsd:complexType name="AtributoRelacion">
    <xsd:complexContent>
      <xsd:extension base="Atributo">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Único -->
        <xsd:attribute name="único" type="tipoÚnico" />
        <!-- Property: Null -->
        <xsd:attribute name="null" type="tipoNull" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoRelacion Moniker -->
  <xsd:element name="atributoRelacionMoniker" type="AtributoRelacionMoniker" substitutionGroup="atributoMoniker" />
  <xsd:complexType name="AtributoRelacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoRelacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AtributoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoClave -->
  <xsd:element name="atributoClave" type="AtributoClave" substitutionGroup="atributo" />
  <xsd:complexType name="AtributoClave">
    <xsd:complexContent>
      <xsd:extension base="Atributo">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Único -->
        <xsd:attribute name="único" type="tipoÚnico" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoClave Moniker -->
  <xsd:element name="atributoClaveMoniker" type="AtributoClaveMoniker" substitutionGroup="atributoMoniker" />
  <xsd:complexType name="AtributoClaveMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoClave instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AtributoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo -->
  <xsd:element name="atributo" abstract="true" type="Atributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Atributo" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: AtributoReferencesEstiloCampoFormulario -->
          <xsd:element name="estiloCampoFormulario" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of AtributoReferencesEstiloCampoFormulario</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="atributoReferencesEstiloCampoFormulario" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of AtributoReferencesEstiloCampoFormulario needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: Tipo -->
        <xsd:attribute name="tipo" type="tipoEnumeration" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo Moniker -->
  <xsd:element name="atributoMoniker" abstract="true" type="AtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Atributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloGráfico -->
  <xsd:element name="estiloGráfico" abstract="true" type="EstiloGráfico" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstiloGráfico" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ColorTexto -->
        <xsd:attribute name="colorTexto" type="xsd:string" />
        <!-- Property: AlineaciónTexto -->
        <xsd:attribute name="alineaciónTexto" type="tipoAlineacion" />
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="xsd:string" />
        <!-- Property: TamañoLetra -->
        <xsd:attribute name="tamañoLetra" type="xsd:integer" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloGráfico Moniker -->
  <xsd:element name="estiloGráficoMoniker" abstract="true" type="EstiloGráficoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstiloGráficoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloGráfico instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloPortalWeb -->
  <xsd:element name="estiloPortalWeb" type="EstiloPortalWeb" substitutionGroup="estiloGráfico" />
  <xsd:complexType name="EstiloPortalWeb">
    <xsd:complexContent>
      <xsd:extension base="EstiloGráfico">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ColorFondo -->
        <xsd:attribute name="colorFondo" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloPortalWeb Moniker -->
  <xsd:element name="estiloPortalWebMoniker" type="EstiloPortalWebMoniker" substitutionGroup="estiloGráficoMoniker" />
  <xsd:complexType name="EstiloPortalWebMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloPortalWeb instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="EstiloGráficoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloCampoFormulario -->
  <xsd:element name="estiloCampoFormulario" type="EstiloCampoFormulario" substitutionGroup="estiloGráfico" />
  <xsd:complexType name="EstiloCampoFormulario">
    <xsd:complexContent>
      <xsd:extension base="EstiloGráfico">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Visualizacion -->
        <xsd:attribute name="visualizacion" type="tipoVisualizacionCampo" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloCampoFormulario Moniker -->
  <xsd:element name="estiloCampoFormularioMoniker" type="EstiloCampoFormularioMoniker" substitutionGroup="estiloGráficoMoniker" />
  <xsd:complexType name="EstiloCampoFormularioMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloCampoFormulario instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="EstiloGráficoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloPáginaWeb -->
  <xsd:element name="estiloPáginaWeb" type="EstiloPáginaWeb" substitutionGroup="estiloGráfico" />
  <xsd:complexType name="EstiloPáginaWeb">
    <xsd:complexContent>
      <xsd:extension base="EstiloGráfico">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloPáginaWeb Moniker -->
  <xsd:element name="estiloPáginaWebMoniker" type="EstiloPáginaWebMoniker" substitutionGroup="estiloGráficoMoniker" />
  <xsd:complexType name="EstiloPáginaWebMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloPáginaWeb instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="EstiloGráficoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DeraWebIPSHasEntidad -->
  <xsd:element name="deraWebIPSHasEntidad" type="DeraWebIPSHasEntidad" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DeraWebIPSHasEntidad">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Entidad -->
          <xsd:element ref="entidad" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DeraWebIPSHasEntidad Moniker -->
  <xsd:element name="deraWebIPSHasEntidadMoniker" type="DeraWebIPSHasEntidadMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DeraWebIPSHasEntidadMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DeraWebIPSHasEntidad instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadReferencesRelacioned -->
  <xsd:element name="entidadReferencesRelacioned" type="EntidadReferencesRelacioned" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntidadReferencesRelacioned">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Relacion -->
          <xsd:element ref="relacionMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: cardinaridad -->
        <xsd:attribute name="cardinaridad" type="xsd:string" />
        <!-- Property: relacionB -->
        <xsd:attribute name="relacionB" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadReferencesRelacioned Moniker -->
  <xsd:element name="entidadReferencesRelacionedMoniker" type="EntidadReferencesRelacionedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntidadReferencesRelacionedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntidadReferencesRelacioned instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DeraWebIPSHasRelacioned -->
  <xsd:element name="deraWebIPSHasRelacioned" type="DeraWebIPSHasRelacioned" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DeraWebIPSHasRelacioned">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Relacion -->
          <xsd:element ref="relacion" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DeraWebIPSHasRelacioned Moniker -->
  <xsd:element name="deraWebIPSHasRelacionedMoniker" type="DeraWebIPSHasRelacionedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DeraWebIPSHasRelacionedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DeraWebIPSHasRelacioned instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadHasAtributoEntidad -->
  <xsd:element name="entidadHasAtributoEntidad" type="EntidadHasAtributoEntidad" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntidadHasAtributoEntidad">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AtributoEntidad -->
          <xsd:element ref="atributoEntidad" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadHasAtributoEntidad Moniker -->
  <xsd:element name="entidadHasAtributoEntidadMoniker" type="EntidadHasAtributoEntidadMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntidadHasAtributoEntidadMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntidadHasAtributoEntidad instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelacionHasAtributoRelacioned -->
  <xsd:element name="relacionHasAtributoRelacioned" type="RelacionHasAtributoRelacioned" substitutionGroup="core:modelElement" />
  <xsd:complexType name="RelacionHasAtributoRelacioned">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AtributoRelacion -->
          <xsd:element ref="atributoRelacion" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelacionHasAtributoRelacioned Moniker -->
  <xsd:element name="relacionHasAtributoRelacionedMoniker" type="RelacionHasAtributoRelacionedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RelacionHasAtributoRelacionedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RelacionHasAtributoRelacioned instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadHasAtributoClaves -->
  <xsd:element name="entidadHasAtributoClaves" type="EntidadHasAtributoClaves" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntidadHasAtributoClaves">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AtributoClave -->
          <xsd:element ref="atributoClave" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadHasAtributoClaves Moniker -->
  <xsd:element name="entidadHasAtributoClavesMoniker" type="EntidadHasAtributoClavesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntidadHasAtributoClavesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntidadHasAtributoClaves instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelacionReferencesEntidad1 -->
  <xsd:element name="relacionReferencesEntidad1" type="RelacionReferencesEntidad1" substitutionGroup="core:modelElement" />
  <xsd:complexType name="RelacionReferencesEntidad1">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Entidad -->
          <xsd:element ref="entidadMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: cardinalidad -->
        <xsd:attribute name="cardinalidad" type="xsd:string" />
        <!-- Property: relacionA -->
        <xsd:attribute name="relacionA" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelacionReferencesEntidad1 Moniker -->
  <xsd:element name="relacionReferencesEntidad1Moniker" type="RelacionReferencesEntidad1Moniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RelacionReferencesEntidad1Moniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RelacionReferencesEntidad1 instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DeraWebIPSReferencesEstiloPortalWeb -->
  <xsd:element name="deraWebIPSReferencesEstiloPortalWeb" type="DeraWebIPSReferencesEstiloPortalWeb" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DeraWebIPSReferencesEstiloPortalWeb">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloPortalWeb -->
          <xsd:element ref="estiloPortalWebMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DeraWebIPSReferencesEstiloPortalWeb Moniker -->
  <xsd:element name="deraWebIPSReferencesEstiloPortalWebMoniker" type="DeraWebIPSReferencesEstiloPortalWebMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DeraWebIPSReferencesEstiloPortalWebMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DeraWebIPSReferencesEstiloPortalWeb instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoReferencesEstiloCampoFormulario -->
  <xsd:element name="atributoReferencesEstiloCampoFormulario" type="AtributoReferencesEstiloCampoFormulario" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AtributoReferencesEstiloCampoFormulario">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloCampoFormulario -->
          <xsd:element ref="estiloCampoFormularioMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoReferencesEstiloCampoFormulario Moniker -->
  <xsd:element name="atributoReferencesEstiloCampoFormularioMoniker" type="AtributoReferencesEstiloCampoFormularioMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoReferencesEstiloCampoFormularioMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoReferencesEstiloCampoFormulario instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadReferencesEstiloPáginaWeb -->
  <xsd:element name="entidadReferencesEstiloPáginaWeb" type="EntidadReferencesEstiloPáginaWeb" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntidadReferencesEstiloPáginaWeb">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloPáginaWeb -->
          <xsd:element ref="estiloPáginaWebMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadReferencesEstiloPáginaWeb Moniker -->
  <xsd:element name="entidadReferencesEstiloPáginaWebMoniker" type="EntidadReferencesEstiloPáginaWebMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntidadReferencesEstiloPáginaWebMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntidadReferencesEstiloPáginaWeb instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelacionReferencesEstiloPáginaWeb -->
  <xsd:element name="relacionReferencesEstiloPáginaWeb" type="RelacionReferencesEstiloPáginaWeb" substitutionGroup="core:modelElement" />
  <xsd:complexType name="RelacionReferencesEstiloPáginaWeb">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloPáginaWeb -->
          <xsd:element ref="estiloPáginaWebMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelacionReferencesEstiloPáginaWeb Moniker -->
  <xsd:element name="relacionReferencesEstiloPáginaWebMoniker" type="RelacionReferencesEstiloPáginaWebMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RelacionReferencesEstiloPáginaWebMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RelacionReferencesEstiloPáginaWeb instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum tipoEnumeration -->
  <xsd:simpleType name="tipoEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="String"/>
      <xsd:enumeration value="Int"/>
      <xsd:enumeration value="Double"/>
      <xsd:enumeration value="DateTime"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum tipoNull -->
  <xsd:simpleType name="tipoNull">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Null"/>
      <xsd:enumeration value="Not_Null"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum tipoÚnico -->
  <xsd:simpleType name="tipoÚnico">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Único"/>
      <xsd:enumeration value="No_Único"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum tipoAlineacion -->
  <xsd:simpleType name="tipoAlineacion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Izquierda"/>
      <xsd:enumeration value="Derecha"/>
      <xsd:enumeration value="Centralizada"/>
      <xsd:enumeration value="Justificada"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum tipoVisualizacionCampo -->
  <xsd:simpleType name="tipoVisualizacionCampo">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Área_de_Texto"/>
      <xsd:enumeration value="Checkbox"/>
      <xsd:enumeration value="Radio_button"/>
      <xsd:enumeration value="Lista_Desplegable"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

